@model Portal.Models.EditQuestionViewModel

@{
    ViewBag.Title = "EditQuestionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создание/Редактирование вопроса</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.QuestionId)
        @Html.HiddenFor(model => model.TestId)

        <div class="form-group">
            <label class="control-label col-md-2">
                Текст вопроса:
            </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.QuestionId.HasValue)
{

    <h4>
        Варианты ответов
    </h4>

    <p>@Html.ActionLink("Создать ответ", "Answer", "Admin", new { questionId = Model.QuestionId.Value }, null)</p>

    <table class="table">
        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            <tr>
                <td>
                    <b>
                        #@(i + 1)
                    </b>
                    @if (Model.Answers[i].Correct)
                    {
                        <b>
                            @Model.Answers[i].Text
                        </b>
                    }
                    else
                    {
                        @Model.Answers[i].Text
                    }
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Answer", "Admin", new { questionId = Model.QuestionId.Value, answerId = Model.Answers[i].AnswerId }, null) |
                    @Html.ActionLink("Удалить", "DeleteAnswer", "Admin", new { answerId = Model.Answers[i].AnswerId }, new { onclick = $"return confirm('Вы уверены что хотите удалить вариант - {Model.Answers[i].Text}?');" })
                </td>
            </tr>
        }
    </table>
}
