@model Portal.Models.QuestionViewModel

@{
    ViewBag.Title = "QuestionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.TestName)</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.QuestionNumber)
        @Html.DisplayFor(model => model.Text)
    </h4>
    <hr />
           
        
       @using (Html.BeginForm("SubmitAndNext", "Tests", FormMethod.Post))
        { 
            @Html.HiddenFor(model => model.QuestionId)
        <dl class="dl-horizontal">
            @foreach (var answer in Model.Answers)
            {
                <dt>
                    @Html.RadioButtonFor(model => answer.AnswerId, answer.AnswerId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => answer.Text)
                </dd>
            }
        </dl>
        <input type="submit" value="Дальше" />
       }

        
</div>
