@model Portal.Models.TestResultViewModel

@{
    ViewBag.Title = "TestResultView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Результаты тестирования сотрудника @User.Identity.Name</h2>

<div>
    <h4>@Html.DisplayFor(model => model.TestName)</h4>
    <hr />
    <dl class="dl-horizontal">    

        <dt>
            Название на момент прохождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalTestName)
        </dd>

        <dt>
            Дата прохождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Результат
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

    </dl>
    <h5>
        <b>
            Детальный результат
        </b>
    </h5>

    @for (int i = 0; i < Model.Question.Count; i++)
    {
        <h6>
            <b>
                #@(i+1)
            </b>
        </h6>
        <dl>
            <dt>
                Ответ пользователя
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => Model.Question[i].UserAnswer)
            </dd>
            @if (!Model.Question[i].IsRightAnswer)
            {
            <dt>
                Правильный ответ
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => Model.Question[i].RightAnswer)
            </dd>
            }
        </dl>
    }
</div>
